# This file used for running from VS Code
# TODO: Keep in sync with .envrc
export DISCORD_WELCOME_CHANNEL=general
export DISCORD_ADMITTED_ROLE=Oliner
export DISCORD_TOKEN=

export ZOOM_API_KEY=
export ZOOM_API_SECRET=
export ZOOM_WEBHOOK_SECRET=
export ZOOM_MEETING_ID=

export ZOOM_TIME_THRESHOLD=2
export ZOOM_TIME_DEBOUNCE_HOURS=2
export ZOOM_TIME_ANNOUNCEMENT_CHANNEL=zoom