# This file used for running from the terminal
# TODO: Keep in sync with .env
export DISCORD_WELCOME_CHANNEL=general
export DISCORD_ADMITTED_ROLE=Admitted
export DISCORD_TOKEN=NzExMDk5NDE4MzEyNzA0MDEw.Xr-W-g.Ir2mVwZn-pO5BtIUaqOjUzIuHA0

export ZOOM_API_KEY=Y3q7y2tvR7SzKdFmsb3IDw
export ZOOM_API_SECRET=RehoiMqdlSfnH7mCQEPvEqs5QygJZdih23r6
export ZOOM_MEETING_ID=93005513510